{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('EDIT', object) %}
    <a href="{{ admin.generateObjectUrl('showEdit', object) }}" class="btn btn-sm btn-default view_link" title="Afficher/Editer"> {# TODO Translation #}
        <i class="fa fa-eye" aria-hidden="true"></i>
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
{% endif %}
