{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% set itemValues = {
	'-2': 'Ne respecte pas la charte',
	'-1': "N'existe pas",
	'0': 'Existe mais infos mauvaises',
	'1': 'Existe',
	'2': 'Existe et valide info'
	}
%} {# TODO Translation #}

{% block field %}
{% spaceless %}

		{% for key, item in value %}
			{% if item.value is defined %}
				{% set labelClass = item.value >= 0 ? 'label-success' : 'label-danger' %}
				{% include "admin/partials/display_vote_report_item.html.twig" %}
			{% endif %}
		{% endfor %}

{% endspaceless %}
{% endblock %}
