<input type="hidden" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}"/>
{# container where the filter bulder will be rendered #}
<div id="filters-builder-container"></div>

<script src="{{ asset('js/form-builder.min.js') }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ asset('fonts/fontawesome-5/css/all.css') }}" />

{% set filtersData = form.vars.sonata_admin.admin.subject.menu.filtersJson|default('[]') %}

<script>
  var formBuilder;
  var allFields = "{{ form.vars.attr.dataproperties|raw }}".split(',');
  var fieldsChoices = { "": ""}
  for (var i = 0; i < allFields.length; i++) {
    fieldsChoices[allFields[i]] = allFields[i];
  }
  if (!formBuilderInitialized) {
    formBuilderInitialized = true;
    jQuery(function($) {
      var fields = [
        { label: 'Filtre Catégories', name: "taxonomy", attrs: { type: 'taxonomy' }, icon: '*' }, // TODO translate
        { label: 'Filtre Date', name: "gogo_date", attrs: { type: 'gogo_date' }, icon: ' ' }, // TODO translate
        { label: 'Filtre Nombre', name: "gogo_number", attrs: { type: 'gogo_number' }, icon: ' ' }, // TODO translate
      ];

      var displayFilter = function(fieldData) {
        result = fieldData.field ? "Champ utilisé : " + fieldData.field : "Veuillez choisir le champ à utiliser" // TODO translate
        return { field: result };
      }
      var templates = {
        taxonomy: function(fieldData) { return { field: 'Personnaliser ce filtre dans le menu des catégories' }; }, // TODO translate
        gogo_date: displayFilter,
        gogo_number: displayFilter,
      };
      var fieldAttr = { label: "Nom du champ à utiliser", options: fieldsChoices} // TODO translate
      var contractedAttr = { label: "Filtre replié par defaut", type: 'checkbox'} // TODO translate
      var dateViews = { "day": "Jour", "week": "Semaine", "month": "Mois", "year": "Année", "range": "Plage" } // TODO translate

      var fieldsAttrs = {
        taxonomy: {},
        gogo_date: {
          field: fieldAttr,
          fieldEnd: { label: "Champ pour la Date de fin (optionel)", options: fieldsChoices}, // TODO translate
          contracted: contractedAttr,
          multiday: { label: "Plusieurs jours selectionnable", type: 'checkbox' }, // TODO translate
          views: { label: "Hidden Views" },
          select_views: { label: "Vues (Ctrl + Click)", options: dateViews, multiple: "multiple" }, // TODO translate
          defaultView: { label: "Vue par défaut", options: dateViews }, // TODO translate
        },
        gogo_number: {
          field: fieldAttr,
          contracted: contractedAttr,
          min: {label: "min", type: "number", required: "true", value: "0"},
          max: {label: "max", type: "number", required: "true", value: "100"},
          step: {label: "step", type: "number", required: "true", value: "1"},
          subtype: {label: "Type", options: { 'slider': 'Slider', 'value': 'Valeur' }} // TODO translate
        }
      };

      formBuilder = $("#filters-builder-container").formBuilder({
        showActionButtons: false,
        dataType: "json",
        fields: fields,
        templates: templates,
        // i18n: {
        //   locale: 'fr-FR',
        //   location: '{{ asset("assets/js/") }}'
        // },
        disableFields: ['hidden', 'file', 'button', 'autocomplete', 'checkbox', 'text', 'select', 'checkbox-group', 'radio-group', 'textarea', 'date', 'number'],
        controlOrder: ['taxonomy', 'gogo_date', 'gogo_number', 'header', 'paragraph'],
        disabledAttrs: ['required', 'name', 'access', 'placeholder', 'value', 'className', 'inline', 'toggle', 'description', 'other', 'multiple'],
        formData: {{ filtersData|json_encode|raw }},
        roles: { 1: "Administrateur" }, // TODO translate ?
        typeUserAttrs: fieldsAttrs
      });

      $(document).ready(function() {
        setTimeout(function() {
          $('.form-field:not(.paragraph-field) .fld-label').each(function() {
            $(this).text($(this).html())
          });
          $('input[type="checkbox"][value="true"]').prop('checked', true);

          $('[name=views]').each(function() {
            $(this).closest('.form-elements').find('[name=select_views]').val($(this).val().split(' '));
          })
        }, 0);

      });

      setInterval(function() {
        // prevent adding two of those fields
        $('.input-control[data-type=taxonomy]').toggle($('.taxonomy-field').length == 0);

        $('[name=select_views]:not(.gogo-initialized)').change(function() {
          $(this).closest('.form-elements').find('[name=views]').val($(this).val().join(' '));
        })
        $('[name=select_views').addClass('gogo-initialized')

        var data = formBuilder.actions.getData()
        $('#{{ form.vars.id }}').val(JSON.stringify(data));

        // Changes icons and icones helpers
        $('a[type=remove].icon-cancel').removeClass('icon-cancel').addClass('fa fa-trash-alt');
        $('a[type=copy].icon-copy').attr('title', 'Dupliquer'); // TODO translate
        $('a[type=edit].icon-pencil').attr('title', 'Editer/Masquer'); // TODO translate
      }, 300);
    });
  }


</script>

<style>
  .fld-views.form-control { height: auto; }
  .form-wrap.form-builder .frmb .form-elements .false-label:first-child,
  .form-wrap.form-builder .frmb .form-elements label:first-child {
    width: 35%;
  }
  .form-wrap.form-builder .frmb .form-elements .input-wrap {
    width: 59%;
  }

  .taxonomy-field .field-actions .toggle-form.btn, .taxonomy-field .field-actions .copy-button {
    display: none !important;
  }
  .gogo_date-field .views-wrap { display: none; }

  .form-wrap.form-builder .frmb .field-label {
    color: inherit;
    font-weight: 600;
  }

  select[name=select_views] {
    height: 110px !important;
  }
</style>