{% extends "user/contributions-layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% set navTitle = 'reports._label'|trans %}
{% block title %}{{ 'reports._label'|trans }}{% endblock %}

{% block contribution_page %}

  <h1 style="margin-bottom: 3rem;">{{ 'reports._label'|trans }}</h1>
  {% if reports|length > 0 %}
    <table class="bordered">
      <thead>
        <tr>
            <th>{{ 'reports.element'|trans }}</th>
            <th class="report">{{ 'reports.report'|trans }}</th>
            <th class="date">{{ 'reports.date'|trans }}</th>
            <th class="status">{{ 'reports.status'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
            <tr class="">
              <td>
                <a href="{{ path('gogo_directory_showElement', {'id': report.element.id, 'name': report.element.name}) | replace({"%23":'#'}) }}">{{ report.element.name }}</a>
              </td>
              <td>{{ ('elements.fields.reportValues_choices.' ~ report.value)|trans({}, 'admin') }}</td>
              <td>{{ report.createdAt|date("d/m/Y")}}</td>
              <td>
                {% if report.isResolved %}
                  <span>{{ ('elements.fields.status_choices.' ~ report.element.status)|trans({}, 'admin') }}</span>
                  {% if report.resolvedMessage %}
                    <span> - </span>
                    <i>{{ report.resolvedMessage }}</i>
                  {% endif %}
                {% else %}
                  <span>{{ 'reports.pending_moderation'|trans }}</span>
                {% endif %}
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="empty-secton-message">
      {{ 'reports.empty'|trans }}
    </p>
  {% endif %}

{% endblock %}