{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block formactions %}
    {% include "admin/edit/edit_element_actions.html.twig" %}
{% endblock formactions %}

{%- block actions -%}
    <li><a href="{{ admin.generateUrl('list') }}" class="" title="Retourner à la liste"> {# TODO Translation #}
       <span>Retourner à la liste </span> {# TODO Translation #}
       <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a></li>
{%- endblock -%}

{% use '@SonataAdmin/CRUD/base_edit_form.html.twig' with form as parentForm %}
{% import '@SonataAdmin/CRUD/base_show_macro.html.twig' as show_helper %}

{% block form %}
	<div class="row" style="padding-bottom: 8rem;">
		{# EDIT FORM #}
		<div class="col-md-12 col-sm-12">
    	    {{ block('parentForm') }}
    	</div>

    	{# SHOW #}
        <div class="sonata-ba-view">
            {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

            {% set has_tab = (admin.showtabs|length == 1 and admin.showtabs|keys[0] != 'default') or admin.showtabs|length > 1 %}

            {% if has_tab %}
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for name, show_tab in admin.showtabs %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                    <i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i>
                                    {{ name|trans({}, show_tab.translation_domain ?: admin.translationDomain) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for code, show_tab in admin.showtabs %}
                            <div class="tab-pane fade{% if loop.first %} in active{% endif %}"
                                 id="tab_{{ admin.uniqid }}_{{ loop.index }}">
                                <div class="box-body  container-fluid">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% if show_tab.description != false %}
                                            <p>{{ show_tab.description|raw }}</p>
                                        {% endif %}

                                        {{ show_helper.render_groups(admin, object, elements, show_tab.groups, has_tab) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% elseif admin.showtabs is iterable %}
                {{ show_helper.render_groups(admin, object, elements, admin.showtabs.default.groups, has_tab) }}
            {% endif %}

        </div>
    {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
  </div>

  <style>
    .sonata-ba-view > .row { margin: 0 !important; }
  </style>
{% endblock %}


