<div class="sonata-ba-form-actions well well-small form-actions fixed" style="line-height: 4rem;">
    {% block sonata_form_actions %}                    
           
            {% if admin.id(object) is not null %}
                
                <div style="position:relative;margin-top: -10px;">
                    {% if not object.isPending %}
                        <span style="width:30%; margin-right: 15px;">
                            <input type="checkbox" name="send_mail" id="send_mail" checked/>
                            <label for="send_mail">Prévenir l'acteur de la modification</label> {# TODO Translation #}
                        </span>
                    {% endif %}
                    {% set placeholder = object.isPending() ? "Message particulier si refus" : 
                                         object.havePendingReports ? "Détail de la modification, raison de la suppression... ce texte remplacera {{ customMessage }} dans les mails automatiques" %} {# TODO Translation #}
                    <input type="text" name="custom_message" id="custom_message" class="form-control" 
                           style="display:inline-block;width:55%"
                           placeholder="{{placeholder}}"/>                       
                </div>                

                {% if object.isPending %}
                    <button type="submit" class="btn btn-success" name="submit_accept" value="submit_accept"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                     Valider</button> {# TODO Translation #}

                    <button type="submit" class="btn btn-danger" name="submit_refuse" value="submit_refuse"><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                     Refuser</button> {# TODO Translation #}
                {% elseif not object.isVisible %}

                    <button type="submit" class="btn btn-success" name="submit_restore" value="submit_restore"><i class="fa fa-save" aria-hidden="true"></i>
                     Restaurer</button> {# TODO Translation #}

                {% else %}
                    <button type="submit" class="btn btn-success" name="submit"><i class="fa fa-save" aria-hidden="true"></i>
                     Sauvegarder {% if object.havePendingReports %} et résoudre les signalements{% endif %}</button> {# TODO Translation #}

                    {% if not object.havePendingReports %} 
                    <button type="submit" class="btn btn-success" name="submit_redirect" value="submit_redirect"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> Sauvegarder et fermer</button> {# TODO Translation #}
                    {% endif %}

                    <button type="submit" class="btn btn-danger" name="submit_delete" value="submit_delete"><i class="fa fa-trash"></i>
                     Supprimer</button> {# TODO Translation #}
                {% endif %}                

                <a href="{{ admin.generateObjectUrl('redirectShow', object) }}" class="btn btn-warning" target="_blank" title="Voir sur le site">
                    <i class="fa fa-external-link" aria-hidden="true"></i><i class="fa fa-eye" aria-hidden="true"></i>
                    Voir sur le site {# TODO Translation #}
                </a>

                <a href="{{ admin.generateObjectUrl('redirectEdit', object) }}" class="btn btn-warning" target="_blank" title="Editer sur le site">
                   <i class="fa fa-external-link" aria-hidden="true"></i><i class="fa fa-pencil" aria-hidden="true"></i>
                     Editer sur le site {# TODO Translation #}
                </a>

                <a href="{{ admin.generateUrl('list') }}" class="btn btn-primary" title="Retourner à la liste">
                   <i class="fa fa-list" aria-hidden="true"></i>
                     Retourner à la liste {# TODO Translation #}
                </a>

                <button type="submit" class="btn btn-default" name="submit_update_json" value="submit_update_json"><i class="fa fa-refresh" aria-hidden="true"></i>
                     Update Json</button> {# TODO Translation #}
               
            {% else %}
                {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                {% endif %}
                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit" class="btn btn-success" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                {% endif %}
                <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
            {% endif %}
    {% endblock sonata_form_actions %}        
</div>

<style>
.form-actions.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
    margin-bottom: 0;
    z-index: 5;
    border-radius: 0;
}
</style>